.dark-navbar{
  background: #212529 !important;
}

.shift-top{
  margin-top: 80px;
}

.article-img{
	position: absolute;
	left: 50%;
	max-width: 300px;
	transition: all .15s ease;
	transform: translate(-50%,-30%);
	border-radius: .25rem;
}

.card-profile-image{
	margin-top: -100px !important;
}